<html lang="en">
        
    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
        <title>SimpleSearch engine</title>
    
        <link rel="stylesheet" href="../public/css/w3.css"/>
    
    </head>
    
    <body>
        <section id="main-content" class="w3-container w3-margin w3-padding-16" style="width:70%;">
            <form class="w3-container w3-card-4 w3-round w3-padding-16 w3-khaki"  method="">
                <header class="w3-panel w3-blue">
                <label class="w3-margin w3-text-black">Search for a word</label><button class="w3-btn w3-black w3-round" onclick="">add word</button>
        
                </header>
                 <input  class="w3-input w3-margin-bottom" type="text" id="search">
                 <input type="submit" class = "w3-btn w3-round w3-margin-bottom" value="submit" onclick="">  
            </form>          
        </section>
        <script src="../public/js/jquery-1.11.0.min.js"></script>
<script src="../public/js/edit.js"></script>
<script src="../public/js/register.js"></script>
<script src="../public/js/add.js"></script>
<script src="../public/js/index.js"></script>
        
    </body>
    
    </html>